block config
    include ../config/variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{titulo} | #{sitio}
        meta(name="description" content=(description))
        link(rel="icon", href="img/favicon.png")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        link(rel="stylesheet" href="css/ed-grid.min.css")
        link(rel="stylesheet" href="css/estilos.css")
    body
        header.ed-container
            .ed-item.l-20
                include ../blocks/logo
            .ed-item.l-80
                nav
                    include ../blocks/menu
        #banner.ed-container
            .ed-item
                include ../blocks/banner
        .ed-container
            main.ed-item.l-75
                block main
            aside.ed-item.l-25
                .aside-inner
                block aside
        footer
            .ed-container
                .ed-item
                    include ../blocks/footer