-var sitio = "Curso HTML5 desde cero"
-var titulo = "Proyecto final"
-var descripcion = "Este es el proyecto final de HTML5 desde cero de Escuela digital"
-var paginas = ["inicio", "nosotros", "servicios", "clientes","contacto"]
-var paginaActual = "inicio"