extends template/template
block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure hic enim, voluptas cumque, officiis laudantium nesciunt? Quae, quibusdam. Nisi facilis quis quia dolores iure commodi aspernatur obcaecati aliquid mollitia eum?
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ullam minima labore quas, saepe optio numquam impedit iure beatae laboriosam, sapiente facilis vel porro nobis laborum omnis natus aliquid nesciunt!
block aside
    h2 Siguenos en Facebook
    a(href="http://facebook.com/" target="_blank") Seguir